.card {
  position: relative;
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
  transition:
    opacity 0.15s ease,
    transform 0.15s ease;
}

.card__image:hover {
  opacity: 0.95;
  transform: scale(1.02);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-liked.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 235px;
    line-height: 1;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
